@import "tailwindcss";

/* always run this command in the terminal before editing */
/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */

/*Colorfarm v1*/

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.nodeButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: small;
}

#balance {
    height: 100px;
}

.extraPadding {
    display: flex;
    border: 1px solid transparent;
}

.extraPadding:hover {
    border: 1px solid black;
}

.bonusToast {
    display: inline-flex;
    background: transparent;
    color: red;
    animation-name: moveUp;
    animation-duration: 0.6s;
}

@keyframes moveUp {
    from {transform: translateY(-15px); opacity: 0;}
    to {transform: translateY(-35px); opacity: 1;}
}