@import "tailwindcss";
@import url(https://fonts.googleapis.com/css?family=Lato:700);

:root {
    font-family: "Lato", Helvetica, sans-serif;
}

button.nodeButton {
    backdrop-filter: blur(4px);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: small;
}

#balance {
    height: 100px;
}