@import "tailwindcss";

/* always run this command in the terminal before editing */
/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */

/*Colorfarm v1*/

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.nodeButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: small;
    cursor: url('../src/images/small-rake.png') 8 40, auto;
    z-index: 3;
}

#minegrid {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../src/images/grass-sample.png');
    background-size: contain;
    cursor: url('../src/images/small-rake.png') 8 40, auto;
}

#balance {
    height: 100px;
}

.extraPadding {
    display: flex;
    border: 1px solid transparent;
    border-radius: 10px;
}

.extraPadding:hover {
    border: 1px solid white;
    border-radius: 0px;
}

.hover {
    border: 1px solid white;
    border-radius: 0px;
}

.autoFarmer {
    position: relative;
    overflow: hidden;
}

.autoFarmer::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: repeating-conic-gradient(white 0deg 90deg, black 90deg 180deg);
    animation: rotateBackground 3s linear infinite;
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.invisiblePadding {
    display: flex;
    border: 1px solid transparent;
}

.bonusToast {
    position: absolute;
    background: transparent;
    color: red;
    animation-name: moveUp;
    animation-duration: 0.6s;
    pointer-events: none;
}

.shopButton:hover {
    box-shadow: -1px 2px 3px black;
}

.shopButton:hover .toolTip {
    visibility: visible;
}

.toolTip {
    visibility: hidden;
    width: 250px;
    bottom: 110%;
    left: 0%;
}

@keyframes moveUp {
    from {transform: translateY(-15px); opacity: 0;}
    to {transform: translateY(-35px); opacity: 1;}
}